.body{
    display: flex;
}
@media screen and (max-width: 800px){
    #topNav>ul{
        display: flex;
        justify-content: space-around;
        list-style: none;
        margin: .5em;
        padding: .5em;
        background-color: #c1c1c1;
    }
    li{
        padding: .5em;
    }
    a{
        text-decoration: none;
    }
    .welcome{
        background-color: #c1c1c1;
        text-align: center;
        margin: .5em;
        padding: .5em;
        border-radius: 10%
    }
    .welcome>img{
        width:150px;
    }

}